/aclocal.m4
/ChangeLog
/config.status
/COPYING
/INSTALL
/Makefile.am
/NEWS
/AUTHORS
/compile
/configure
/depcomp
/install-sh
/Makefile.in
/README
/autogen.sh
/config.log
/configure.ac
/example
Makefile
/missing
.deps/
